/* Both native and custom selects must have the same width/height*/
/* :root{font-size: 62.5%} */
.hybriddd,
.hybriddd-js {
  position: relative;
  width: max-content;
  height: 2.5em;
  min-width: 100%;
}
select:disabled + .hybriddd-js > .hybriddd-selected {
	color: #939191;
	border-color: #c6c6c6;
	cursor: default;
}
/* Make sure the custom select does not mess with the layout*/
.hybriddd-js {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* This media query detects devices where the primary
input mechanism can hover over elements. (e.g. computers with a mouse) */
@media (hover: hover) {
  /* // Since we are using a mouse, it's safe to show the custom select. */
  .hybriddd-js {
    display: block;
  }
  /*In a computer using keyboard? Then let's hide back the custom select
  while the native one is focused: */
  .hybriddd:focus + .hybriddd-js {
    display: none;
  }
}
/* Add the focus states too, They matter, always! */
.hybriddd:focus,
.hybriddd-js.active .hybriddd-selected,
.hybriddd-js.focus .hybriddd-selected {
	outline: none;
	box-shadow: white 0 0 0 1px, #5e95ff 0 0 1px 2px;
}
/* hybrid select styling */
.hybriddd-container {
  position: relative;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
/*include any border styling in the box-sizing of our hybrid select.*/
.hybriddd-container * {
	box-sizing: border-box;
  cursor: default;
}
.hybriddd,
.hybriddd-selected {
  font-size: 1em;
  background-color: #fff;
  border: 1px solid #6f6f6f;
  border-radius: 0.25em;
}
.hybriddd {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.5em;
  padding: 0rem 0.8rem;
}
.hybriddd-selected {
  position: relative;
  width: max-content;
  height: 100%;
  background-color: #fff;
  padding: 0.5em 0.5em;
  cursor: pointer;
  min-width: 100%;
}
.hybriddd-selected::after {
  content: "▾";
  position: absolute;
  top: 0;
  line-height: 2.375em;
  right: 0.5em;
  font-size: 0.9375em;
}
.hybriddd-selected:hover {
  border-color: #8c00ff;
}

.hybriddd-js .hybriddd-options {
  position: absolute;
  top: calc(2.375em + 1px);
  right: 0;
  width: max-content;
  border: 1px solid #6f6f6f;
  border-radius: 0.25em;
  background-color: #fff;
  box-shadow: 0 0 4px #e9e1f8;
  z-index: 1;
  padding: 0.5em 0;
  display: none;
  background:#e3e3e3;
  min-width: 100%;
}
/*
for horizontal dropdown
*/
.hybriddd-landscape .hybriddd-options > div {
	display: inline-block;
	float: left;
}
/* opposite for rtl */
.hybriddd-landscape .hybriddd-options > div:dir(rtl) {float: right}
.hybriddd-landscape .hybriddd-options .hybriddd-group {
	clear: both;
	border-top: none;
	padding: 0.5em 0.4em;
}
.hybriddd-landscape .hybriddd-options .hybriddd-option.active::before {
	content: '';
}
.hybriddd-landscape .hybriddd-options .hybriddd-option{padding: 0.5em}
.hybriddd-landscape .hybriddd-options .hybriddd-option.active {
	text-decoration: underline;
}
/* show dropdown on active select */
.hybriddd-js.active .hybriddd-options {display: block}
.hybriddd-js .hybriddd-option {
  position: relative;
  padding: 0.5em;
  padding-left: 1.5625em;
}
.hybriddd-js .hybriddd-group {
	padding: 0.2em 0.4em;
	font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid #aaa;
}
.hybriddd-option.hover {
  background-color: #1e1e1e21;
}

.hybriddd-option:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}

.hybriddd-option.active::before {
  content: "✓";
  position: absolute;
  left: 0;
  margin-left: 3px;
}
hybriddd-
