details > summary {
	text-decoration: underline;
	font-weight: bold;
}
.nav-list-link.active {
	color: #fe00fe;
}
#short-menu-hdd .hybriddd-wrapper{max-height: calc(var(--hybriddd-item-height) * 2)}
#grid-layout .hybriddd-wrapper.hybriddd-grid {
	--hybriddd-gap: 2px;
	width: calc( calc(var(--hybriddd-item) + var(--hybriddd-gap)) * var(--hybriddd-col));
}
#grid-layout.hybriddd-none .hybriddd-option > label > input {
	position: absolute;
}
#grid-layout .hybriddd-option p {
	position: absolute;
	width: 150px;
	padding: 2px 5px;
	bottom: 0;
	line-height: normal;
	background: #0000008c;
	color: white;
	text-align: center;
	margin: auto;
	font-size: 13px;
}
#grid-layout .hybriddd-option p span {
	font-size: 15px;
	font-weight: bold;
}
#grid-layout  input:checked + .hybridddcb {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	visibility: visible;
	border-radius: 50%;
	z-index: 7;
	background: #000000a6;
}
#grid-layout .hybridddcb {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 4px;
}
#grid-layout input:checked + .hybridddcb::before {
	width: 10px;
	height: 10px;
	margin: 4px auto;
	background: white;
	border-radius: 50%;
}
#grid-layout .hybridddcb::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	margin: 0;
}
#grid-layout .hybridddl div{
	position: relative;
	width: 150px;
	height: 150px;
}
#grid-layout .hybriddd-grid .hybriddd-option > label:hover {
	transform: scale(96%);
}
#with-images .hybridddl img {
	width: auto;
	height: auto;
}
#with-images .hybridddl img + p,
#with-images .hybriddd-selected img + p{
	position: absolute;
	top: 0;
	width: 140px;
	height: ;
	text-align: center;
	background: #2e2e2ead;
	margin: 57px 5px;
	padding: 12px 0;
	line-height: 1;
	border: solid 1px white;
	border-radius: 4px;
  display: none;
  color: #fff;
}
#with-images .hybriddd-option:hover > label img+p,
#with-images .hybriddd-selected img + p{ display:block}
#with-images .hybriddd-options{overflow: hidden}
#with-images .hybriddd-group > ul {
	display: inline-block;
	margin-left: 31px;
}
#with-images .hybriddd-group{line-height: 1;}
#with-images .hybriddd-group > span {
	transform: rotate(-90deg);
	position: absolute;
	top: 61px;
	left: -56px;
	border: solid 1px;
	height: auto;
	padding: 5px 47px;
}
#search-input {
	color: inherit;
}
a[href^="#option-"], a[href^="#method-"] {
    color: #ffe100;
    cursor: text;
    pointer-events: none;
}
h3 {
    color: #ffe100;
}
#make-it-pink-hdd .hybriddd-option.active > label,
#make-it-pink-hdd .hybriddd-option > label:hover {
    background: pink;
    color: blue;
}
/* dropdown colours*/
#ex4-hdd.hybrid-dropdown{
  color:#fff;
  background-color: darkgreen
}
/*hover colours */
#ex4-hdd .hybriddd-option.active > label:hover,
#ex4-hdd .hybriddd-option.hover > label,.hybriddd-option > label:hover{
  color:darkgreen;
  background-color: #fff
}
/*  checkboxes colours */
#ex4-hdd :hover > input:checked + .hybridddl > .hybridddcb::before{
  color:#fff
}
#ex4-hdd .hybriddd-option input:checked + .hybridddcb::before {
  background: darkgreen
}
/* scrollbar colour */
#ex4-hdd ul.hybriddd-options::-webkit-scrollbar-track {
  background:darkgreen
}
#ex4-hdd ul.hybriddd-options::-webkit-scrollbar-thumb,
#ex4-hdd ul.hybriddd-options::-webkit-scrollbar{
  background:#fff
}
#ex4-hdd .hybriddd-option.active > label {
    background: #fff;
    color: darkgreen
}
.highlight .nt {
    color: #fdddff;
}
.highlight .kd {
    color: #29a7ff;
}
.highlight .nx {
    color: #7fc7d8;
}
.highlight .s,.highlight .s1,.highlight .mi,.highlight .s2 {
    color: #05ff98;
}
.highlight .c,.highlight .p,.highlight .c1 {
    color: #e6f9ff;
}
.highlight .nl {
    color: #f9e80e;
}
.highlight .nb {
    color: #ff0202;
}
.highlight .no,.highlight .kc, .language-css .highlight .m {
    color: #fd7726;
}
.highlight .m {
    color: #01fd22;
}
.highlight .nc {
    color: #27a6ff;
}
.highlight .nd,.highlight .k,.highlight .na {
    color: #f540ff;
}
strong>code {
    font-weight: bold;
    color: #ffd500;
}
form#tabnav {
    max-width: 470px;
}
form#tabnav >div>label>input, form#tabnav textarea{
  min-height: 34px;
  border-radius: 5px;
  border: 1px solid #e6e1e8;
  background: #27262b;
  color: #e6e1e8;
  margin-left: 3px;
}
form#tabnav >div>label {
    font-weight: bold;
}
form#tabnav > div {
    margin-bottom: 10px;
}
div#row1 input {
    max-width: 159px;
}
div#row2 input {
    width: 456px;
}
form#tabnav > div {
    margin-bottom: 10px;
}
div#row4 textarea {
    width: 459px;
}
