#search-input {
	color: inherit;
}
.site-title.lh-tight {
	display: inline-block;
	padding: 5px;
	text-align: right;
}
a[href^="#option-"], a[href^="#method-"] {
    color: #ffe100;
    cursor: text;
    pointer-events: none;
}
h3 {
    color: #ffe100;
}
#make-it-pink .hybriddd-option.active > label {
    background: pink;
    color: blue;
}
/* dropdown colours*/
#ex4-hdd.hybrid-dropdown{
  color:#fff;
  background-color: darkgreen
}
/*hover colours */
#ex4-hdd .hybriddd-option.active > label:hover,
#ex4-hdd .hybriddd-option.hover > label,.hybriddd-option > label:hover{
  color:darkgreen;
  background-color: #fff
}
/*  checkboxes colours */
#ex4-hdd :hover > input:checked + .hybridddl > .hybridddcb::before{
  color:#fff
}
#ex4-hdd .hybriddd-option input:checked + .hybridddcb::before {
  background: darkgreen
}
/* scrollbar colour */
#ex4-hdd ul.hybriddd-options::-webkit-scrollbar-track {
  background:darkgreen
}
#ex4-hdd ul.hybriddd-options::-webkit-scrollbar-thumb,
#ex4-hdd ul.hybriddd-options::-webkit-scrollbar{
  background:#fff
}
#ex4-hdd .hybriddd-option.active > label {
    background: #fff;
    color: darkgreen
}
.highlight .nt {
    color: #fdddff;
}
.highlight .kd {
    color: #29a7ff;
}
.highlight .nx {
    color: #7fc7d8;
}
.highlight .s,.highlight .s1,.highlight .mi,.highlight .s2 {
    color: #05ff98;
}
.highlight .c,.highlight .p,.highlight .c1 {
    color: #e6f9ff;
}
.highlight .nl {
    color: #f9e80e;
}
.highlight .nb {
    color: #ff0202;
}
.highlight .no,.highlight .kc, .language-css .highlight .m {
    color: #fd7726;
}
.highlight .m {
    color: #01fd22;
}
.highlight .nc {
    color: #27a6ff;
}
.highlight .nd,.highlight .k,.highlight .na {
    color: #f540ff;
}
strong>code {
    font-weight: bold;
    color: #ffd500;
}
form#tabnav {
    max-width: 470px;
}
form#tabnav >div>label>input, form#tabnav textarea{
  min-height: 34px;
  border-radius: 5px;
  border: 1px solid #e6e1e8;
  background: #27262b;
  color: #e6e1e8;
  margin-left: 3px;
}
form#tabnav >div>label {
    font-weight: bold;
}
form#tabnav > div {
    margin-bottom: 10px;
}
div#row1 input {
    max-width: 174px;
}
div#row2 input {
    width: 413px;
}
form#tabnav > div {
    margin-bottom: 10px;
}
div#row4 textarea {
    width: 459px;
}
