.site-title.lh-tight {
	display: inline-block;
	padding: 5px;
	text-align: right;
}
a[href^="#option-"], a[href^="#method-"] {
    color: #ffe100;
    cursor: text;
    pointer-events: none;
}
h3 {
    color: #ffe100;
}
